@charset "UTF-8";


button.bnt {
        border-radius: 25px;
        width:180px;
        background-color: var(--cor5);
        padding: 20px;
        box-shadow:  5px  5px 5px 2px #fff;
       
    
}
button.bnt a{
    color: white;
    text-decoration: none;
}






* {
    padding: 0px;
    margin: 0px;
}

:root {

    --cor0: #014040;
    --cor1: #04BFBF;
    --cor2: #04BFAD;
    --cor3: #B6F2EC;
    --cor4: #F2F2F2;
    --cor5: #295C57;

   --fonte-padrao: Arial, verdana, helvetica, san-seif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    
}


div.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
div.logo img{
    width: 400px;
    height: 200px;
}



body {
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}


div.container_inicio ul li{
    list-style: none;
}

div.container_inicio h3{
   background-image: linear-gradient(to left, var(--cor5),var(--cor4));
   color: var(--cor0);
   text-transform: capitalize;
}

div.container_inicio p{
    font-size: 1.2em;
}

div.container-antendimentos ul.atendimentos li{
  padding: 5px 4%;
   list-style: none;


}

header {
background-color: white;
   /* background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));*/
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px;
   
}

header>h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}

header>p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}


/* Estilo das seções */
.section {
    height: 100vh;
    padding: 20px;
    background-color: #f0f0f0;
    margin: 10px 8%;
}

main {
    background-color: white;
 
    max-width: 1480px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 30px;
}




div.container-text{
   display: flex;

}
div.container-texto{
    margin-right: 20px;
    
    text-align: justify;
 
}
div.container-texto h2{
    text-align: center;
    border-bottom: 5px solid var(--cor0);
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}


main p {
    margin: 15px 0px;
    text-align: center;
}



footer {
    background-color: var(--cor5);
    color: white;
  padding: 10px;
    font-size: 0.8em;
 height: auto;
 font-size: 18px;

}

footer div.contatos{
    margin-left: 30px;
    margin-top: 30px;
  
}
footer .contatos ul li{
    list-style: none;
    padding: 10px;
}
.contatos p{
    line-height: 25px;
}

.logo-footer{
    background-color: white;
    width: 200px;
  margin-bottom: 30px;
}

#footer{
   text-align: center;
    
}

#footer span{
    font-weight: bold;
    color: var(--cor4);
    
}
#footer_cima span{
    font-weight: bold;
    color: var(--cor4);
    text-transform: capitalize;
    
}


footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;

   
}
footer a:hover{

    color: var(--cor1);
}

  
  /* Configurações adicionais para responsividade */
  @media (max-width: 1020px) {

    .conteudo-container {
      flex-direction: column;
      width: 300px;
    }
    div.container-text {
        flex-direction: column;
    }
    div.flex{
        flex-direction: column;
       
    }

    div.flex .familia{
        width: 350px;
        
    }
    .final{
        flex-direction: column;
       
    }
    .final  .lincecas{
margin-top: -10px;
    }
    footer{
        height: auto;
    }
    div.container{
        flex-direction: column;
    
    }
    button.bnt {
        margin-top: 10px;
    }

    
  }



 .comunicacao  {
    list-style: none;
   padding: 10px;

 }
 .comunicacao  li{
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
  
 }



div.contratar{
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.377);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.377);
    margin-bottom: 20px;
    background-color: var(--cor5);
    color: #fff;
    border-radius: 20px;
}

div.contratar >h1{
    color: #fff; 
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
}

.quem-somos > h1{
    text-align: center;
    text-transform:capitalize;
    font-size: 40px;
    color: #fff; 
}

.quem-somos{
    border-radius: 20px;
    padding: 40px;
    border: 2px solid rgba(0, 0, 0, 0.377);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.377);
    margin-bottom: 20px;
    background-color: var(--cor5);
    color: #fff;
}


.faleconosco > p{
    text-align: justify;
}
.todo-conteudo{
    border-radius: 20px;
    padding: 50px;
    border: 2px solid rgba(0, 0, 0, 0.377);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.377);
    margin-bottom: 20px;
    background-color: var(--cor5);
    color: #fff;
}
.todo-conteudo > h1{
    text-align: center;
  
    text-transform:capitalize;
    font-size: 40px;
    color: #fff;
}
div.container {
    border-radius: 20px;
    display: flex;
    align-items: center;
 justify-content: space-between;
padding: 20px;
 box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.377);
 margin-bottom: 20px; 
 background-color: var(--cor5);
 color: #fff;
    }


    div.contratar h1{
        text-align: center;
        text-transform: uppercase;

    }
.contato{
    
}
.final{
    display: flex;
    justify-content: space-around;
}
.lincecas{

margin-top: 140px;
height: auto;
}
.lincecas > p{
text-align: center;
font-size: 15px;
margin-bottom: 30px;
line-height: 5px;
margin-top: 20px;
}

.lincecas span i{
    font-size: 30px;
}